.DS_Store
.env
.idea/
.vscode/
.git/
doc/
bin/
tests/

src/logic/run
src/lexer.ml
src/parser.ml
src/parser.mli
src/*.cmt
src/logic/*.cmt
src_cut

examples/

**/.idea/

#all files
**/__latexindent_temp.tex
**/*.olean
**/*.cmi
**/*.cmo
**/.DS_Store
**/bin/
**/release/
**/_target/
**/._d/
**/~$*

webui/client/build/
webui/client/node_modules/
webui/server/public
webui/server/node_modules/
webui/server/test/
webui/coverage/
webui/db/
webui/dbtest/
webui/node_modules/
webui/README.md
webui/.gitignore 
webui/.gitattributes
webui/.prettierignore